
td {
    background: lightyellow;
    padding: 3px;
}

th {
    background: brown;
    color: white;
    padding: 3px;
}
input {
    height: 20px;
    width: 300px;
}
button {
    height: 25px;
    width: 50px;
}

#prio {

}