/* You can add global styles to this file, and also import other style files */
body {
	background: url(../resources/bg.jpg) repeat 0 0;
	font-family: 'Times New Roman', Times, serif;
	color: white;
}